.horizon-chart-input {
  margin-left: 10px;
  max-width: 200px;
  display: inline !important;
}

.horizon-chart-input-separator {
  margin: 0 10px;
}

.coin-field {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.coin-selector-bar {
  margin-top: 10px;
}

.horizon-chart-filter {
  display: inline-block;
}