.visualization-section {
  padding: 50px 0;
}

.visualization-section + .visualization-section {
  border-top: 1px solid 
}

h2 {
  padding-bottom: 30px;
}

.page-header {
  padding-top: 50px;
}

.insights {
  margin-top: 30px;
}